body{
    margin: 0%;
    background-color: #bf9a7f;
}
.App{
    margin: 20px;
}
.input-box{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box-search{
    width: 90%;
    height: 20px;
    background-color: '#f9f9f9';
    border: none;
    border-radius: 10px;
}
.input-box-search:focus{
    outline: none;
}
.notes-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 250px;
    gap: 5px;
}
.note{
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column; 
    background-color: #f2ece5;
    position: relative;
    padding: 10px;
    white-space: pre-wrap;
    color: #615c55;
}
.footer{
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    width: 93%;
}
.new-note{
    background-color: #f9f9f9;
}
textarea{
    border: none;
    resize: none;
    background-color: rgba(137, 43, 226, 0);
}
textarea:focus{
    outline: none;
}
.button{
    background-color: rgba(137, 43, 226, 0);
    border: none;
}