body{
    margin: 0%;
    background-color: #bf9a7f;
    background-image: url('https://img.freepik.com/premium-photo/abstract-background-images-wallpaper-ai-generated_643360-32692.jpg?w=360');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.App{
    margin: 20px;
}
.input-box{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-box-search{
    width: 90%;
    height: 20px;
    background-color: '#f9f9f9';
    border: none;
    border-radius: 100px;
    padding: 5px;
    padding-left: 10px;
}
.input-box-search:focus{
    outline: none;
}
.notes-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    height: 250px;
    gap: 10px;
}
.note{
    border-radius: 10px;
    height: 200px;
    display: flex;
    flex-direction: column; 
    background-color: #f2ece5;
    padding: 10px;
    white-space: pre-wrap;
    color: #615c55;
    position: relative;
    box-shadow: 3px 3px 5px#A0522D;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    padding: 2px;
    background-color: #DEB887;
    color: #000000;
    margin-bottom: 20px;
}
.footer{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0%;
    width: 94%;
}
.new-note{
    background-color: #f9f9f9;
}
textarea{
    border: none;
    resize: none;
    background-color: rgba(137, 43, 226, 0);
}
textarea:focus{
    outline: none;
}
.button{
    background-color: rgba(137, 43, 226, 0);
    border: none;
}